  {{#each stuff.items as |item|}}
<ul>
  <li>
    <input type="checkbox" {{action "remove" item}}>
        {{item}}
  </li>
</ul>
  {{/each}}
  {{input value=value placeholder="enter here"}}
  <button type="button" class="btn btn-primary" {{action "addItem" value}}>Add Item</button>